---
import Layout from '../layouts/Layout.astro'
import {CurrentTime} from '../components/CurrentTime'
---

<Layout title="New Tab">
  <div class="font-mono text-white">
    <div class="flex h-screen w-screen items-center justify-center">
      <div class="-mt-32 flex flex-col items-center">
        <CurrentTime client:load />
        <div class="mt-16 grid grid-cols-4 gap-8 text-center text-lg font-semibold text-white/70">
          <a class="inline-block hover:text-white" href="https://github.com">GitHub</a>
          <a class="inline-block hover:text-white" href="https://feedbin.com/">Feedbin</a>
          <a class="inline-block hover:text-white" href="https://pro.twitter.com/">Twitter</a>
          <a class="inline-block hover:text-white" href="https://www.youtube.com/">YouTube</a>
        </div>
      </div>
    </div>
  </div>
</Layout>
