---
import Layout from '../layouts/Layout.astro'
import {CurrentTime} from '../components/CurrentTime'
---

<Layout title="New Tab">
  <div class="font-mono text-white/70">
    <div class="flex h-screen w-screen items-center justify-center">
      <div class="-mt-32 flex flex-col items-center">
        <CurrentTime client:idle />
        <div class="mt-16 grid grid-cols-4 gap-8 text-center text-lg font-semibold text-white/50">
          <a class="inline-block transition-all duration-300 hover:text-white" href="https://github.com">
            <img
              src="https://www.google.com/s2/favicons?domain=github.com&sz=256"
              width="256"
              height="256"
              class="h-8 w-8 rounded-md border-2 border-white/50"
            />
          </a>
          <a class="inline-block transition-all duration-300 hover:text-white" href="https://feedbin.com/">
            <img
              src="https://www.google.com/s2/favicons?domain=feedbin.com&sz=256"
              width="256"
              height="256"
              class="h-8 w-8 rounded-md border-2 border-white/50"
            />
          </a>
          <a class="inline-block transition-all duration-300 hover:text-white" href="https://pro.x.com/">
            <img
              src="https://www.google.com/s2/favicons?domain=x.com&sz=256"
              width="256"
              height="256"
              class="h-8 w-8 rounded-md border-2 border-white/50"
            />
          </a>
          <a class="inline-block transition-all duration-300 hover:text-white" href="https://www.youtube.com/">
            <img
              src="https://www.google.com/s2/favicons?domain=youtube.com&sz=256"
              width="256"
              height="256"
              class="h-8 w-8 rounded-md border-2 border-white/50"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</Layout>
