---
export interface Props {
  title: string
}

const {title} = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="New Tab Page" />
    <title>{title}</title>
    <link rel="prefetch" href="https://github.com" />
    <link rel="prefetch" href="https://feedbin.com" />
    <link rel="prefetch" href="https://pro.twitter.com" />
    <link rel="prefetch" href="https://www.youtube.com" />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  html {
    background: url(/background-2.webp) no-repeat center center fixed;
    background-size: cover;
  }
</style>
